*{                                  /* * allows to be able to edit eveything in the page of the site*/                          /**/
    margin: 0;
    padding: 0;
    box-sizing: border-box;         /*sets a border to the main so that we can see all the text on the page*/
}

body{
    background: #202124;
    color:#bdc1c6;
    /*padding: 14px;*/     /*padding reduces or increases the outside area of the body, there is a pad area that can be changed. This can create margins on the body*/
    min-height: 100vh; /*vh sets the content of the body to extend further down to the available space*/
    display: flex;     /*flex is a style of display that are flexible containers, its default is containers in a row*/ 
    flex-direction: column;
    gap: 14px;
    /* padding: 10px 20px;  vert, hor */
}

header{
    display: flex;
    align-items: center; /*alligns in the vertical*/
    justify-content: space-between; /*alligns in the horizontal, pushes anchors to other side of page*/
    padding: 14px;
}

nav, 
section {/*use nav,section becuase you want to do this for the left(nav) and right(section) sides*/
    display: flex; 
    align-items: center;
    gap: 14px; /*creat gap between about, store and Gmail, Imagaes*/
    padding: 10px 20px;
    
}

header section img{
    max-width: 45px;
    border-radius: 50%;
    border: 2px solid cyan



}

/* .greyLink{
    color:grey;
} */

.whiteLink{
    color:white;
}

a{
    text-decoration: unset; /*unsets the line under all anchors, about, store, gmail, and imges*/
    font-size: 1.2em;
    width: max-content; /*bug, does not underline g in advertising*/
}

a:hover{
    text-decoration: underline; /*when hovering the anchors, the appereace of the texts are underlines*/
}

main{
    flex: 1; /*makes the main container as greedy as possible, pushes footer to the bottom of the page*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 14px;
}

.googleLogo{
    font-size: 50px;
    color: white;
    font-family:sans-serif;

}

.headerText{
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.searchBar{
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    gap: 14px;
    border: 1px solid grey;
    padding: 14px;
    border-radius: 24px;
}

.searchBar:hover{
    border-color: transparent;
    background: #334155;   /*from tailwind*/
}

input{
    background: transparent;
    outline: none;
    border: unset;
    color: white;
    flex: 1;

}

.searchButtonsContainer{
    display: flex;
    align-items: center;
    gap: 14px;
}

.searchButtonsContainer button{
    padding: 10px 14px;
    border-radius: 4px;
    background: #334155;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
}

.searchButtonsContainer button:hover{
    border: 1px solid darkgrey;
}

.languageSelection{
    font-size: 0.9em;
}

.languageSelection a{
    color:cyan;
}

footer{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

footer>section{
    padding: 14px;
    
}

footer>section:last-child{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid darkgray;
    
}

.footerLink{
    display: flex;
    align-items: center;
    gap: 14px;

}
.footerLink a{
    cursor: pointer;
}

.search_bar_container {
    display: flex;
    align-items: center;
    gap: 14px;

}

.search_bar_buttons {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2em;
    
}

/* .divlength{
    max-width: none;
    border:
} */

@media (min-width: 540px){
    footer>section:last-child{
        flex-direction: row;
    }

}
    

        
